---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro'; // Importamos la nueva sección
---

<Layout title="Licoturisme i Natura">
  <Hero />
  
  <About />
  
  <section id="experiencies" class="min-h-screen bg-verde-picea text-crema-organico py-24">
    <div class="max-w-7xl mx-auto px-6">
       <h2 class="font-the-seasons text-5xl">Pròximes Experiències</h2>
    </div>
  </section>
</Layout>